
{% load staticfiles %}



<div class="testimonial-area">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel test-slides" id="testimonial-carousel">
                <div class="item">
                    <div class="single-testimonial">
                        <div class="img-area">
                            <img class="pimg" src="{% static "images/girl 1.jpg" %}" alt="">
                        </div>
                        <div class="testi-text">
                            <h4>Erika<span>Class 10th</span></h4>
                            <p>A 99.5 %  record holder in the Class 12 topper Rohan Sampath does not strive to excel only in academics. This teen is a sport even on the tennis court.</p>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="single-testimonial">
                        <div class="img-area">
                            <img class="pimg" src="{% static "images/boy1.jpg" %}" alt="">
                        </div>
                        <div class="testi-text">
                            <h4>Fenious<span>Class 12th</span></h4>
                            <p>A 99.5 %  record holder in the Class 12 topper Rohan Sampath does not strive to excel only in academics. This teen is a sport even on the tennis court.</p>
                        </div>
                    </div>
                </div>



                 <div class="item">
                    <div class="single-testimonial">
                        <div class="img-area">
                            <img class="pimg" src="{% static "images/boy1.jpg" %}" alt="">
                        </div>
                        <div class="testi-text">
                            <h4>John<span>Class 11th</span></h4>
                            <p>A 99.5 %  record holder in the Class 12 topper Rohan Sampath does not strive to excel only in academics. This teen is a sport even on the tennis court.</p>
                        </div>
                    </div>
                </div>


                 <div class="item">
                    <div class="single-testimonial">
                        <div class="img-area">
                            <img class="pimg" src="{% static "images/girl2.jpg" %}" alt="">
                        </div>
                        <div class="testi-text">
                            <h4>Mercy<span>Class 10th</span></h4>
                            <p>A 99.5 %  record holder in the Class 12 topper Rohan Sampath does not strive to excel only in academics. This teen is a sport even on the tennis court.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

         </div>
    </div>
    
</div>
