<<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>students information</h1>
    {%if studentdb %}
    <table border=2>
      <thead>
        <th>Enrollment number</th>
        <th>Name</th>
        <th>Class</th>
        <th>Address</th>

      </thead>
      {% for k in studentdb %}
      <tr>
      <td>{{k.eno}}</td>
      <td>{{k.sname}}</td>
      <td>{{k.sclass}}</td>
      <td>{{k.saddr}}</td>
      </tr>
      {%endfor%}

    </table>
    {%else%}
    <p>No studnets are found</p>
    {%endif%}

  </body>
</html>
