<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static "css/footrr.css"%}">
<link rel="stylesheet" href="{%static "css/myhelper.css"%}">

  <link rel="stylesheet" type="text/css" href="{%static "css/form.css"%}">
<style type="text/css">

.comb img{
  float:left;
}
.jumbo{
  float:left;
  margin-left:10px;

}
.jumbo p{
  float:left;


}
</style>
</head>
<body>
	<div class="bgimgg">
	{%  include 'pages/nav.html' %}



</div>

<section class="container ourservice text-center">
		<h1>SERVICES</h1>
		<div class="row rowsetting">
			<div class="col-lg-3 col-md-3 col-sm-3 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-graduation-cap text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Admission Procedure</h2>
				<p>The student should complete the age of 3 and 1/2 years on 31st March of the year for the admission to class nursery the age for admission to other classes</p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-university text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Rules & Regulations</h2>
				<p>Leave to a student for absence is granted only on an I application to The principal, through class Teacher Submitted in Time definitely the same day,</p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-child text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Aim of the school</h2>
				<p>The main aim of the school is to provide comprehensive educational manner ofspeaking system to impart impulse to the student's physical growth</p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 d-block m-auto">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-grav text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>School Activities</h2>
				<p>Children are inquisitive by nature. They are extremely curious lot, always eager to know about everything around them, therefore besides academics,</p>
			</div>
		</div>
	</section>



		<!-- Start Login page  -->
<div id="id01" class="modal">
  <form class="modal-content animate" action="hotelsignup.php" method="post">
    <div class="imgcontainer">
	  <h2> Login</h2>
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container2">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="btn32">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container2" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn btn32">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!-- End Login page  -->



<!-- Start Singup page  -->

<div id="id02" class="modal">
  <form class="modal-content animate" action="hotelsignup.php" method="post">
  <div class="imgcontainer">
	  <h2>Sign Up</h2>
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container2">
       <label for="Name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1 btn32">Cancel</button>
        <button type="submit"  class="btn32 signupbtn1">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<!-- End Singup page  -->

<div class="facilities">
  <div class="container">
    <div class="alert alert-info bg-dark text-white" role="alert">Facilities</div>
    <div class="comb d-flex">

      <img src="{%static "images/facilities.jpg"%}" alt="">

<div class="jumbotron jumbo">
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>   Paying much attention to all subjects, classes will be allotted to expert teachers in particular subjects.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"> </i>  Four well ventilated labs for the subjects such as Physics, Chemistry, Biology, Computer Education gemmed by updated instruments.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Close circuite vigilance cameras in every room.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Huge playground for students and small parks for KG students.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Transportation facility available for both rural and urban areas.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Mandatory physical education for all believing in apt saying "Healthy bodies make healthy minds".
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  The Knowledge Bank- Library providing latest educational information tools to students.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Computer education-The indispensable part of today's modern world, starting from class III onwards to make our students stand neck to neck with time.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  All these privileges are blessed by able guidance and knowledge provided through expert teachers.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Apart from the regular curriculum, the school has facilities for outdoor games as football, volleyball, badminton etc. to inculcate the spirit of overall development of the students in a big field by natural environment under the guidance of trained sports teacher.
</p>
  <p><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Apart from this, there are also facilities for indoor games like carrom, chess etc.
</p>


</div>

    </div>
  </div>

</div>


{%  include 'pages/footer.html' %}





</body>
</html>
