<footer class="footer_style bg-dark">
<div class="container-fluid">
  <div class="row m-auto">
    <div class="col-md-3 col-sm-3 col-12">
      <h4>Menu Categories</h4>
      <ul>
        <li ><a href="/Schoolbs">Home</a></li>
        <li ><a href="/Facilities">Facilities</a></li>
        <li ><a href="/Notice">Notice Board</a></li>
        <li ><a href="/Gallary">School Activities</a></li>
      </ul>
    </div>

    <div class="col-md-3 col-sm-3 col-12">
      <h4>About Us</h4>
      <ul>
        <li ><a href="/Message">Director Desk</a></li>
        <li ><a href="/Aboutus">Aim of the school</a></li>
        <li ><a href="/Aboutus">Admission procedure</a></li>
        <li ><a href="/Aboutus">Our Trainings</a></li>
      </ul>
    </div>



    <div class="col-md-3 col-sm-3 col-12">
      <h4>Photo Gallery</h4>
      <ul>
        <li ><a href="/Gallary">Sports Day</a></li>
        <li ><a href="/Gallary">Republic Day</a></li>
        <li ><a href="/Gallary">Independence Day</a></li>
        <li ><a href="/Gallary">Dashahra</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-12">
      <h4>Contacts</h4>

      <dl>
        <dt>Email</dt>
        <dd><a href=""><i class="fa fa-envelope" aria-hidden="true"></i> info@divinesainikschool.com</a></dd>
      </dl>
      <dl>
        <dt>Phones</dt>
        <dd><a href="tel:#"><i class="fa fa-phone" aria-hidden="true"></i> 0542-2371526</a></dd>
      </dl>
      <dl>
        <dt>Website:</dt>
        <dd><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i> www.divinesainikschool.com</a></dd>
      </dl>
    </div>

  </div>
  <div class="d-flex justify-content-around align-items-center flex-wrap">
    <div class="p-md-5 p-2 flex-fill">
      <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <span>Facebook</span>
    </div>
    <div class="p-md-5 p-2 flex-fill">
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <span>Instagram</span>
  </div>
  <div class="p-md-5 p-2 flex-fill">
      <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <span>Linkedin</span>
    </div>

    <div class="p-md-5 p-2 flex-fill">
      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <span>Twitter</span>
    </div>


  </div>
</div>
</footer>