{%load staticfiles%}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#"><img class="logoimg"src="{%static "images/dpslogo.png"%}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/Schoolbs">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
            <a href="/Message" class="nav-link text-white">Message</a>
          </li>
          <li class="nav-item">
            <a href="/Facilities" class="nav-link text-white">Facilities</a>
          </li>
          <li class="nav-item">
            <a href="/Notice" class="nav-link text-white">Notice Board</a>
          </li>
          <li class="nav-item">
            <a href="/Gallary" class="nav-link text-white">Gallery</a>
          </li>
          <li class="nav-item">
            <a href="/Transfer" class="nav-link text-white">Transfer certificate</a>
          </li>
          <li class="nav-item">
            <a href="/Aboutus" class="nav-link text-white">About Us</a>
          </li>
    </ul>
    <form class="form-inline my-1 my-lg-0">
     <button type="button" class="btn btn-default navbar-btn bg-warning  bt1 " onclick="document.getElementById('id02').style.display='block'"><span class="glyphicon-user"></span>Sign in</button>
      <button type="button" class="btn btn-default navbar-btn bg-warning bt2 " onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon-log-in"></span>Log in</button>
    </form>
  </div>
</nav>