<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%static "css/footrr.css"%}">
<link rel="stylesheet" href="{%static "css/myhelper.css"%}">
<link href="https://fonts.googleapis.com/css?family=Pangolin&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{%static "css/form.css"%}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha256-qvCL5q5O0hEpOm1CgOLQUuHzMusAZqDcAZL9ijqfOdI=" crossorigin="anonymous" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha256-nXBV7Gr2lU0t+AwKsnS05DYtzZ81oYTXS6kj7LBQHfM=" crossorigin="anonymous" />
</head>
<body>
	<div class="myBqr">


	
	{%  include 'pages/nav.html' %}

</div>
<div class="myslider">
				{%  include 'pages/slider.html' %}
	</div>
	
<div class="mytoppers">
			{%  include 'pages/carousel_card.html' %}
	</div>

<div class="container ourservice text-center">
		<h1>SERVICES</h1>
		<div class="row rowsetting">
			<div class="col-sm-3 ">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-graduation-cap text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Admission Procedure</h2>
				<p>The student should complete the age of 3 and 1/2 years on 31st March of the year for the admission to class nursery the age for admission to other classes</p>
			</div>

			<div class="col-sm-3 ">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-university text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Rules & Regulations</h2>
				<p>Leave to a student for absence is granted only on an I application to The principal, through class Teacher Submitted in Time definitely the same day,</p>
			</div>

			<div class="col-sm-3">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-child text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>Aim of the school</h2>
				<p>The main aim of the school is to provide comprehensive educational manner ofspeaking system to impart impulse to the student's physical growth</p>
			</div>

			<div class="col-sm-3">
				<div class="imgsetting d-block m-auto bg-warning">
					<i class="fa fa-grav text-white fa-3x" aria-hidden="true"></i>
				</div>
				<h2>School Activities</h2>
				<p>Children are inquisitive by nature. They are extremely curious lot, always eager to know about everything around them, therefore besides academics,</p>
			</div>
		</div>
	</div>
	<br>

	<div class="portfolio bg-light">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-4 m-auto">
					<div class="card">
						<img src="{%static "images/p1.jpg"%}" class="card-img img-fluid">
						<div class="card-body">
							<h2 class="card-title">Director Desk</h2>
							<p class="card-text">The condition of human being is totally different from other creatures. He lives in a society,</p>
						</div>

					 </div>
				</div>

				<div class="col-sm-4  m-auto">
					<div class="card">
						<img src="{%static "images/p2.jpg"%}" class="card-img img-fluid">
						<div class="card-body">
							<h2 class="card-title">Our Training</h2>
							<p class="card-text">Divine Sainik School provides different trainings for better future of your child. The trainings are :</p>
						</div>

					 </div>
				</div>

				<div class="col-sm-4 m-auto">
					<div class="card">
						<img src="{%static "images/p3.jpg"%}" class="card-img img-fluid">
						<div class="card-body">
							<h2 class="card-title">Library</h2>
							<p class="card-text">Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
						</div>

					 </div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-8  m-auto m1">
					<h2>WELCOME TO DIVINE SAINIK SCHOOL</h2>
					<p>Divine Sainik School is a creative temple of learning was established from well being blessing, command and revelation of spiritual master Shri-Shri 108 Swami Bhagwat Das Ji Maharaj who was late prior of sacred grove Nakhighat Ashram , dweller of Saket Dham, in 2003 with a view to impart modern, scientific and cultural compatible education to children. It is situated near birth place of Saint Kabirdas at the road of Lahartara via D.L.W.

Infrastructure wise, the school is best equipped having the highest number of computers in its lab. The music faculty has its own sound proof practice areas. The sports practice are regularly done in sound environment on vast stretched playground by well versed professional coaches and school contains rich library,</p>

				</div>
				<div class="col-sm-4 m-auto  text-center m2">
					<h2>News & Events</h2>
					<a href="">Mathematics and Computer Science</a><br>
					<a href="">Mathematics and Philosophy</a><br>
					<a href="">Philosophy and Modern Languages</a><br>
					<a href="">History (Ancient and Modern)</a><br>
					<a href="">Classical Archaeology and Ancient History</a><br>
					<a href="">Physics and Philosophy</a><br>
				</div>
			</div>
		</div>
	



		<!-- Start Login page  -->
<div id="id01" class="modal">
  <form class="modal-content animate" action="hotelsignup.php" method="post">
    <div class="imgcontainer">
	  <h2> Login</h2>
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container2">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="btn32">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container2" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn btn32">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!-- End Login page  -->



<!-- Start Singup page  -->

<div id="id02" class="modal">
  <form class="modal-content animate" action="hotelsignup.php" method="post">
  <div class="imgcontainer">
	  <h2>Sign Up</h2>
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    <div class="container2">
       <label for="Name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1 btn32">Cancel</button>
        <button type="submit"  class="btn32 signupbtn1">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<!-- End Singup page  -->




{%  include 'pages/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha256-251s88HEsEfGL2RufZmRwGohKTHDYr9T+aJAazDwlGY=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(window).load(function(){
 
 $('#f2').flexslider({
    animation: "slide",
    animationLoop: false,
    itemWidth: 210,
    itemMargin: 5,
    pausePlay: true,
    mousewheel: true,
    rtl: true,
    asNavFor:'.flexslider'
  });
});
</script>
<script type="text/javascript">
	$('#testimonial-carousel').owlCarousel({
		autoplay : true,
		dots : false,
		nav : true,
		loop : true,
		navText : ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive :{
			0:{
				items:1
			},
			600:{
				items:1
			},
			1000:{
				items:2
			}
		}
	})
</script>
</body>
</html>
